# WK6 Data Cleaning <hr style="border:2.5px solid #126782"></hr>

Name: **Geo Angelo D. Butas** <br>
Course: **CPE2A**

Import **pandas**,**numpy** and **matplotlib** library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Overview of the Dataset

Load the "**chip-dataset.csv**"<br>
**r** - Stands for *raw string*.<br>
It tells the Python to treat the string literally (backslashes ( **\\** ) are not intepreted as escape characters).

In [ ]:
df = pd.read_csv("../raw/chip-dataset.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4854 non-null   int64
 1   Product                4854 non-null   object
 2   Type                   4854 non-null   object
 3   Release Date           4854 non-null   object
 4   Process Size (nm)      4845 non-null   float64
 5   TDP (W)                4228 non-null   float64
 6   Die Size (mm^2)        4139 non-null   float64
 7   Transistors (million)  4143 non-null   float64
 8   Freq (MHz)             4854 non-null   int64
 9   Foundry                4854 non-null   object
 10  Vendor                 4854 non-null   object
 11  FP16 GFLOPS            536 non-null    float64
 12  FP32 GFLOPS            1948 non-null   float64
 13  FP64 GFLOPS            1306 non-null   float64
dtypes: float64(7), int64(2), object(5)
memory usage: 531.0+ KB

Display an **overview** of the dataset

In [4]:
df.head()

,Unnamed: 0,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

**Drop** the first column

In [5]:
df = df.drop(df.columns[0],axis=1)
df.head()

,Product,Type,Release Date,Process Size (nm),TDP (W),Die Size (mm^2),Transistors (million),Freq (MHz),Foundry,Vendor,FP16 GFLOPS,FP32 GFLOPS,FP64 GFLOPS
0,AMD Athlon 64 3500+,CPU,2/20/2007,65.0,45.0,77.0,122.0,2200,Unknown,AMD,NaN,NaN,NaN
1,AMD Athlon 200GE,CPU,9/6/2018,14.0,35.0,192.0,4800.0,3200,Unknown,AMD,NaN,NaN,NaN
2,Intel Core i5-1145G7,CPU,9/2/2020,10.0,28.0,NaN,NaN,2600,Intel,Intel,NaN,NaN,NaN
3,Intel Xeon E5-2603 v2,CPU,9/1/2013,22.0,80.0,160.0,1400.0,1800,Intel,Intel,NaN,NaN,NaN
4,AMD Phenom II X4 980 BE,CPU,5/3/2011,45.0,125.0,258.0,758.0,3700,Unknown,AMD,NaN,NaN,NaN

**Rename** columns

In [6]:
df_w = df.rename(columns={
    'Release Date':'Date',
    'Process Size (nm)':'Process_Size',
    'TDP (W)':'TDP',
    'Die Size (mm^2)':'Die_Size',
    'Transistors (million)':'Transistors',
    'Freq (MHz)':'Frequency',
    'FP16 GFLOPS':'FP16',
    'FP32 GFLOPS':'FP32',
    'FP64 GFLOPS':'FP64'
})
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       4854 non-null   object
 1   Type          4854 non-null   object
 2   Date          4854 non-null   object
 3   Process_Size  4845 non-null   float64
 4   TDP           4228 non-null   float64
 5   Die_Size      4139 non-null   float64
 6   Transistors   4143 non-null   float64
 7   Frequency     4854 non-null   int64
 8   Foundry       4854 non-null   object
 9   Vendor        4854 non-null   object
 10  FP16          536 non-null    float64
 11  FP32          1948 non-null   float64
 12  FP64          1306 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 493.1+ KB

# Determining **Distinct** values

Display unique **Product** values

In [7]:
df_w['Product'].unique()

array(['AMD Athlon 64 3500+', 'AMD Athlon 200GE', 'Intel Core i5-1145G7',
       ..., 'NVIDIA GeForce FX Go5100', 'NVIDIA Quadro 3000M',
       'NVIDIA GeForce 9300 SE'], shape=(4278,), dtype=object)

Display no. of unique **Product** values

In [8]:
df_w['Product'].nunique()

4278

Display unique **Type** values

In [9]:
df_w['Type'].unique()

array(['CPU', 'GPU'], dtype=object)

Display no. of unique **Type** values

In [10]:
df_w['Type'].nunique()

2

Display unique **Foundry** values

In [11]:
df_w['Foundry'].unique()

array(['Unknown', 'Intel', 'GF', 'TSMC', 'UMC', 'Samsung', 'Renesas',
       'Sony', 'NEC', 'IBM'], dtype=object)

Display no. of unique **Foundry** values

In [12]:
df_w['Foundry'].nunique()

10

Display unique **Vendor** values

In [13]:
df_w['Vendor'].unique()

array(['AMD', 'Intel', 'Other', 'NVIDIA', 'ATI'], dtype=object)

Display no. of unique **Vendor** values

In [14]:
df_w['Vendor'].nunique()

5

# Data Cleaning - Droping NaN

Determine the **count of NaN** (*Not a Number*) values

In [15]:
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       9
TDP              626
Die_Size         715
Transistors      711
Frequency          0
Foundry            0
Vendor             0
FP16            4318
FP32            2906
FP64            3548
dtype: int64

Cleaning **TDP**

In [34]:
df_w = df_w.dropna(subset=['TDP'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       6
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2998
FP32            1814
FP64            2373
dtype: int64

Cleaning **Die_Size**

In [33]:
df_w = df_w.dropna(subset=['Die_Size'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       6
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2998
FP32            1814
FP64            2373
dtype: int64

In [18]:
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       6
TDP                0
Die_Size           0
Transistors      140
Frequency          0
Foundry            0
Vendor             0
FP16            3119
FP32            1932
FP64            2493
dtype: int64

In [19]:
df_w = df_w.dropna(subset=['TDP','Die_Size','Transistors'])
df_w.isna().sum()

Product            0
Type               0
Date               0
Process_Size       6
TDP                0
Die_Size           0
Transistors        0
Frequency          0
Foundry            0
Vendor             0
FP16            2998
FP32            1814
FP64            2373
dtype: int64

# Data Cleaning - Replacing NaN with Mean

Make a copy of **df_w**

In [20]:
df_c = df_w.copy()
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3428 entries, 0 to 4851
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       3428 non-null   object
 1   Type          3428 non-null   object
 2   Date          3428 non-null   object
 3   Process_Size  3422 non-null   float64
 4   TDP           3428 non-null   float64
 5   Die_Size      3428 non-null   float64
 6   Transistors   3428 non-null   float64
 7   Frequency     3428 non-null   int64
 8   Foundry       3428 non-null   object
 9   Vendor        3428 non-null   object
 10  FP16          430 non-null    float64
 11  FP32          1614 non-null   float64
 12  FP64          1055 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 374.9+ KB

In [21]:
# Cleaning TDP with mean
tdp_mean = df_w['TDP'].mean()
print(tdp_mean)
df_c['TDP'] = df_c['TDP'].fillna(tdp_mean)

83.84830805134189

Cleaning **Die_Size** with mean

In [22]:
df_c['Die_Size'] = df_c['Die_Size'].fillna(df_w['Die_Size'].mean())

Cleaning **Transistors** with mean

In [32]:
df_c['Transistors'] = df_c['Transistors'].fillna(df_w['Transistors'].mean())

In [24]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3428 entries, 0 to 4851
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       3428 non-null   object
 1   Type          3428 non-null   object
 2   Date          3428 non-null   object
 3   Process_Size  3422 non-null   float64
 4   TDP           3428 non-null   float64
 5   Die_Size      3428 non-null   float64
 6   Transistors   3428 non-null   float64
 7   Frequency     3428 non-null   int64
 8   Foundry       3428 non-null   object
 9   Vendor        3428 non-null   object
 10  FP16          430 non-null    float64
 11  FP32          1614 non-null   float64
 12  FP64          1055 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 374.9+ KB

In [25]:
df_c.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,3422.000000,3428.000000,3428.000000,3428.000000,3428.000000,430.000000,1614.000000,1055.000000
mean,53.048510,83.848308,200.187865,2161.389440,1506.151400,9711.399488,2345.554919,425.188955
std,41.146049,78.765781,130.986080,4320.855844,1012.838862,14931.668538,4172.319796,1266.090063
min,7.000000,1.000000,1.000000,10.000000,100.000000,10.020000,12.800000,3.600000
25%,28.000000,35.000000,111.000000,222.000000,650.000000,947.800000,253.400000,37.750000
50%,40.000000,65.000000,160.000000,731.000000,1117.000000,3942.000000,732.700000,95.360000
75%,65.000000,100.000000,246.000000,2080.000000,2333.000000,14130.000000,2444.000000,273.300000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

# Lambda Function

A **lambda function** in Python is a small, anonymous function defined using the **lambda** keyword. It is also known as an inline function or anonymous function because it doesn't require a formal name (unlike functions defined with def). Lambda functions are typically used for short, simple operations that can be written in a single line.<br><br>
Syntax:<br>
**lambda** arguments: expression<br>

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def even(n):
    e = []
    for i in n:
        if i%2==0:
            e.append(i)
    return e

even(numbers)

[2, 4, 6, 8, 10]

In [27]:
even = filter(lambda n:n%2==0, numbers)
list(even)

[2, 4, 6, 8, 10]

Use **lambda** function to replace NaN values with mean of each column

In [28]:
df_c = df_w.copy()
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3428 entries, 0 to 4851
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       3428 non-null   object
 1   Type          3428 non-null   object
 2   Date          3428 non-null   object
 3   Process_Size  3422 non-null   float64
 4   TDP           3428 non-null   float64
 5   Die_Size      3428 non-null   float64
 6   Transistors   3428 non-null   float64
 7   Frequency     3428 non-null   int64
 8   Foundry       3428 non-null   object
 9   Vendor        3428 non-null   object
 10  FP16          430 non-null    float64
 11  FP32          1614 non-null   float64
 12  FP64          1055 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 374.9+ KB

In [29]:
n_columns = ['TDP','Die_Size','Transistors']
df_c[n_columns] = df_c[n_columns].apply(lambda n:n.fillna(n.mean()))
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3428 entries, 0 to 4851
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product       3428 non-null   object
 1   Type          3428 non-null   object
 2   Date          3428 non-null   object
 3   Process_Size  3422 non-null   float64
 4   TDP           3428 non-null   float64
 5   Die_Size      3428 non-null   float64
 6   Transistors   3428 non-null   float64
 7   Frequency     3428 non-null   int64
 8   Foundry       3428 non-null   object
 9   Vendor        3428 non-null   object
 10  FP16          430 non-null    float64
 11  FP32          1614 non-null   float64
 12  FP64          1055 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 374.9+ KB

In [30]:
df_c.describe()

,Process_Size,TDP,Die_Size,Transistors,Frequency,FP16,FP32,FP64
count,3422.000000,3428.000000,3428.000000,3428.000000,3428.000000,430.000000,1614.000000,1055.000000
mean,53.048510,83.848308,200.187865,2161.389440,1506.151400,9711.399488,2345.554919,425.188955
std,41.146049,78.765781,130.986080,4320.855844,1012.838862,14931.668538,4172.319796,1266.090063
min,7.000000,1.000000,1.000000,10.000000,100.000000,10.020000,12.800000,3.600000
25%,28.000000,35.000000,111.000000,222.000000,650.000000,947.800000,253.400000,37.750000
50%,40.000000,65.000000,160.000000,731.000000,1117.000000,3942.000000,732.700000,95.360000
75%,65.000000,100.000000,246.000000,2080.000000,2333.000000,14130.000000,2444.000000,273.300000
max,250.000000,900.000000,826.000000,54200.000000,4700.000000,184600.000000,40000.000000,11540.000000

# **Saving** the Cleaned Dataset

In [31]:
df_c.to_csv(r"..\raw\chip-dataset-cleaned.csv",index=False)